#hare {
	height: 575px;
	width: 400px;
	left: 510px;
	position: absolute;

	
}

#mainmenu  {
width: 100%;
margin: 0;
padding: 0;
height: 158px;
width: 100%;
}

#mainmenu2  {
width: 100%;
margin: 0;
padding: 0;
height: 158px;
width: 100%;
}

#left1  {

position: absolute;
width: 50px;
height: 50px;
left: 290px;
top: 299px;
	overflow: inherit;

}

#left2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 492px;
    top: 299px;
	overflow: inherit;
}

#right1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 890px;
    top: 299px;
	
}

#right2 {  
position: absolute;
width: 50px;
height: 50px;
left: 1090px;
top: 299px;


}

#centerpeice  {

width: 340px;
height: 268px;
margin-top: 135px;
left: 545px;
position:absolute;
	

}
#rightline {
    position: absolute;
    width: 125px;
    height: 10px;
    left: 950px;
    top: 304px;
	overflow: inherit;
}



#leftline {

position: absolute;
width: 125px;
height: 10px;
left: 360px;
top: 304px;


}
.center { 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}


#bottomleft {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 468px;
	overflow: inherit;

}
#bottomright {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 982px;
    top: 499px;
	overflow: inherit;
}

#toptext {
	left :200px;
		width: 399px;
		height: 114px;
	padding-left: 30px;
	
	
		
}

#bottomtext {
		right-margin: 300px;
		width: 651;
		height: 114;
}

#final {
align-content: center;
	height: 80px;
	width: 230px;
	margin-left: 620px;
	margin-top:40px; 
}
