#fullscreen {
	height: 768px;
	width: 1024px;
	overflow:auto;
}

#mainmenu  {
width: 100%;
margin: 0;
padding: 0;
height: 158px;
width: 100%;
}

#mainmenu2  {
width: 100%;
margin: 0;
padding: 0;
height: 158px;
width: 100%;
}

#left1  {

position: absolute;
width: 50px;
height: 50px;
left: 90px;
top: 299px;

}

#left2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 292px;
    top: 299px;
}

#right1 {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 282px;
    top: 301px;
}

#right2 {  
position: absolute;
width: 50px;
height: 50px;
right: 90px;
top: 299px;


}

#centerpeice  {

width: 340px;
height: 280px;
margin-top: 135.5px;
 

}
#rightline {
    position: absolute;
    width: 125px;
    height: 10px;
    right: 147px;
    top: 303px;
}



#leftline {

position: absolute;
width: 125px;
height: 10px;
left: 160px;
top: 304px;


}
.center { 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}



#toptext {
	left :200px;
		width: 399px;
		height: 114px;
	
	
		
}

#bottomtext {
		right-margin: 300px;
		width: 651;
		height: 114;
}



